body {
    background: #021214;
    color: #cefcf9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
    user-select: none;   
}


#cortina {
    background: #052b30;
    color: #75ddfd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 99vh;
    width: 99vw;
    text-align: center;
}

body.loaded {
    opacity: 1;
}

#con-por {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#021214,#052b30) ;
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
}

#portada {
    width: 60%;
    height: auto;
}

p {
    color: #a6c0c2;
    font-size: large;
}

#parr {

    background: #052b30 ;
    border-radius: 15px;
    width: 80vw ;
    padding: 5vw;
    
}


#con-capitulos {
    background:   #195b64;
    width: 90vw;
    width: 90dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    border-radius: 15px;
    
}

.temporadas {

    height: 10vh;
    height: 10dvh;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 10px 0px 10px 0px;
    background: #3395a1;
    color:rgb(22, 33, 39);
    font-size: large;
    
}
    

.capitulos {

    height: 10vh;
    height: 10dvh;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 10px 0px 10px 0px;
    background: #3395a1;
    color:rgb(22, 33, 39);
    
}

.capitulos:hover {
   background: #195b64 ; 
   color: #75ddfd ;
   box-shadow: 1px 1px 5px #021214;
}


.cap {
    height: 100%;
    width: 90%;
    border: solid  #195b64;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

#tc {
    border-width: 0px 0px 0px 5px;
    padding: 5px 0px 5px 0px;
}

#nc {
    
    width: 20%;
    color: #75ddfd;
    font-weight: bold;
    background: #227c88;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

#descripcion {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    width: 70%;
    height: auto;
    overflow-y: hidden;
    word-wrap: break-word;
    
}

#con-vid {
    background: #0b001c ;
    border-radius: 15px;
    width: 90dvw;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    outline: none;
}

#vid {
    outline: none;
}

#con-titulo-vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 60vw;
    width: 90dvw;
    border: solid grey ;
    border-width: 0px 0px 1px 0px;
} 

h3 {
    color: #87deee;
    text-align: left;
    width: 90%;
} 

#con-ia {

    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}

#atras {
    background: #6afff8;
    border-radius: 20px;
    height: 30px;
    width: 70px;
    color: #09001d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}  
